*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.*
data/
log/
*.pth
*.png
*.png
*.pth
*.txt
*.pyc
*.pyc
model/model/__pycache__/make_model.cpython-39.pyc
